<div class="row align-items-center">
  <div class="col-2">
    <img
      class="thumb"
      src="http://localhost:4000/images/thumb/{{ post.imageUuid }}"
    />
  </div>
  <div class="col-6">
    <p>{{ post.text }}</p>
  </div>
  <div class="col-1">
    <a class="btn btn-secondary" [routerLink]="['/posts/details',post.postId]">link</a>
  </div>
  <div class="col-1">
    <app-post-like [post]='post'></app-post-like>
  </div>
  <div class="col-2 text-right">
    <div>
      <small class="text-muted">{{post.creator.firstName + " " + post.creator.lastName }}</small>
    </div>
    <div>
      <small class="text-muted">{{ post.publishDate | date: 'd/M/yy, h:mm a' }}</small>
    </div>
</div>
