<div class="container">
  <div class="col-6">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="text">Text</label>
        <textarea
          class="form-control"
          id="text"
          maxlength="500"
          formControlName="text"
        ></textarea>
      </div>
      <div
        *ngIf="text.invalid && (text.dirty || text.touched)"
        class="text-danger"
      >
        <div *ngIf="!!text.errors.maxLength">
          The text is too long
        </div>
      </div>
      <div class="form-group custom-file">
        <label for="img" class="custom-file-label">{{ fileName }}</label>
        <input
          type="file"
          class="form-control custom-file-input"
          id="img"
          (change)="onImageChange($event)"
        />
      </div>
      <div
        *ngIf="image.invalid && (image.dirty || image.touched)"
        class="text-danger"
      >
        <div *ngIf="!!image.errors.required">
          Image is required.
        </div>
        <div *ngIf="!!image.errors.badType">
          Unsupported File Format.
        </div>
      </div>
      <div class="row mt-3 mb-3" formGroupName="location">
        <div class="form-group col-5">
          <label for="lat">Latitude</label>
          <input
            type="number"
            class="form-control"
            id="lat"
            max="180"
            min="-180"
            formControlName="lat"
          />
        </div>
        <div
          *ngIf="lat.invalid && (lat.dirty || lat.touched)"
          class="text-danger"
        >
          <div *ngIf="!!lat.errors.required">
            Latitude is required.
          </div>
          <div *ngIf="!!lat.errors.min">
            Latitude must be higher than -180.
          </div>
          <div *ngIf="!!lat.errors.max">
            Latitude must be lower than 180.
          </div>
        </div>
        <div class="form-group col-5">
          <label for="lng">Longitude</label>
          <input
            type="number"
            class="form-control"
            id="lng"
            max="90"
            min="-90"
            formControlName="lng"
          />
        </div>
        <div
          *ngIf="lng.invalid && (lng.dirty || lng.touched)"
          class="text-danger"
        >
          <div *ngIf="!!lng.errors.required">
            Longitude is required.
          </div>
          <div *ngIf="!!lng.errors.min">
            Longitude must be higher than -90.
          </div>
          <div *ngIf="!!lng.errors.max">
            Longitude must be lower than 90.
          </div>
        </div>
        <div class="col-2">
          <button class="btn btn-primary" type="button" (click)='openLocationSelector()'>select</button>
        </div>
      </div>
      <app-tags-control formControlName="tags"></app-tags-control>
      <app-user-tags-control formControlName="userTags"></app-user-tags-control>
      <button
        type="submit"
        class="btn btn-primary "
        [disabled]="postForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
