<div class="form-group">
  <label for="tag">Tags</label>
  <div class="input-group mb-3">
    <input
      #text
      type="text"
      id="tag"
      class="form-control"
      placeholder="Tag"
      #tagField
      [ngbTypeahead]="searchTags"
      [editable]="false"
      [disabled]="disabled"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="addTag(tagField.value); text.value = ''"
        [disabled]="text.value < 1 || tags.includes(text.value)"
      >
        Add
      </button>
    </div>
  </div>
  <div>
    <small *ngIf="searching" class="form-text text-muted">searching...</small>
    <small *ngIf="searchFailed" class="form-text text-muted">
      Sorry, suggestions could not be loaded.
    </small>
  </div>
  <div class="d-flex flex-wrap">
    <app-tag *ngFor="let tag of tags; let i = index;" (tagClick)="removeTag(i)" [content]="tag">
    </app-tag>
  </div>
</div>
