<div class="container" *ngIf="post">
  <h2>Post</h2>
  <figure class="figure">
    <img
      src="{{imageUrlBase + post.imageUuid }}"
      class="figure-img img-fluid rounded"
      alt="..."
    />
    <figcaption class="figure-caption text-right">
      <strong>#{{ post.postId }}</strong>
      {{ post.publishDate | date: 'd/M/yy, h:mm a' }}
      <p>{{post.creator.firstName + " " + post.creator.lastName}}</p>
    </figcaption>
  </figure>
  <p>{{ post.text }}</p>
  <app-post-like [post]='post'></app-post-like>
  <div *ngIf="post.tags.length > 0">
    tags:
    <div class="d-flex flex-wrap">
      <app-tag
        *ngFor="let tag of post.tags"
        [disabled]="true"
        [content]="tag"
      ></app-tag>
    </div>
  </div>
  <div *ngIf="post.userTags.length > 0">
    user tags:
    <div class="d-flex flex-wrap">
      <app-tag
        *ngFor="let tag of post.userTags"
        [disabled]="true"
        [content]="tag.firstName + ' ' + tag.lastName"
      ></app-tag>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="openAddCommentModal()">
    Add Comment
  </button>
  <app-comments [comments]="post.comments"></app-comments>
</div>
<div *ngIf="!post">
  <h2>Couldn't find the requested post.</h2>
</div>
