<form [formGroup]="filterForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="distance">Distance</label>
    <input
      type="number"
      class="form-control"
      min="0"
      max="20017.462"
      id="distance"
      placeholder="Enter distance"
      formControlName='distance'
    />
    <small id="distanceHelp" class="form-text text-muted">Use km</small>
  </div>
  <div class="form-group">
    <label for="minDate">Minimum Date</label>
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        id="minDate"
        formControlName='minDate'
        ngbDatepicker
        #minDate="ngbDatepicker"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="minDate.toggle()"
          type="button"
        >
          <fa-icon [icon]="faCalendar"></fa-icon>
        </button>
      </div>
    </div>
    <small id="distanceHelp" class="form-text text-muted">All posts after the specified date. (specified date is included)</small>
  </div>
  <div class="form-group">
    <label for="maxDate">Maximum Date</label>
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        id="maxDate"
        formControlName="maxDate"
        ngbDatepicker
        #maxDate="ngbDatepicker"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="maxDate.toggle()"
          type="button"
        >
          <fa-icon [icon]="faCalendar"></fa-icon>
        </button>
      </div>
    </div>
    <small id="distanceHelp" class="form-text text-muted">All posts up to the specified date.</small>
  </div>
  <app-tags-control formControlName='tags'></app-tags-control>
  <app-user-tags-control formControlName='userTags' [label]="'User Tags'"></app-user-tags-control>
  <app-user-tags-control formControlName='publishers' [label]="'Publishers'"></app-user-tags-control>
  <button type="submit"  class="btn btn-primary float-right">Search</button>
</form>
