<div class="form-group">
  <label for="tagUser">{{label}}</label>
  <input
    id="tagUser"
    type="text"
    class="form-control"
    [ngbTypeahead]="searchUsers"
    [inputFormatter]="emptyFormatter"
    [resultFormatter]="userFormatter"
    [editable]="false"
    [disabled]="disabled"
    (selectItem)="addUserTag($event)"
  />
</div>
<div>
  <small *ngIf="searching" class="form-text text-muted">searching...</small>
  <small *ngIf="searchFailed" class="form-text text-muted">
    Sorry, suggestions could not be loaded.
  </small>
</div>

<div class="d-flex flex-wrap">
  <app-tag *ngFor="let user of userTags; let i = index;" (tagClick)="removeUserTag(i)" [disabled]="disabled" [content]='user.firstName +" " + user.lastName'></app-tag>
</div>
